# Termux:
# pkg install ttf-dejavu python-pillow python-numpy cmake ninja patchelf

python-telegram-bot ~= 13.15
urllib3 ~= 1.26.12  # PTB requirement
tzdata

# Based on MXW01-catprinter/requirements.txt
bleak ~= 0.22.3
opencv-python ~= 4.12.0.88  # Differs from the original for numpy compatibility
numpy == 2.2.5  # Pinned for Termux compatibility